:root {
  --color-bg: #F8F8F8;
  --color-element: #ffffff;
  --color-green: #A5C926;
  --color-font: #111111;
  --color-yellow: #FFC12C;
  --color-rose: #FB416B;
  --color-border: #E5E5E5;
}

.darkmode {
  --color-bg: #141414;
  --color-element: #0D0D0D;
  --color-green: #B4D831;
  --color-font: #ffffff;
  --color-yellow: #FFC746;
  --color-rose: #FC5A80;
  --color-border: #272727;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0;
  outline: 1px solid black;
  font-family: "Open Sans";
}

header {
  width: 100%;
  height: 102px;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.12);
}
header .header-contacts {
  color: var(--color-element);
  background: var(--color-green);
  max-width: 100%;
  height: 32px;
  padding: 1px 133px 1px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-contacts .left {
  display: flex;
  padding: 0px 15px;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
header .header-contacts .left p {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  margin: 0;
}
header .header-contacts .right {
  display: flex;
  width: auto;
  padding: 0px 14px;
  justify-content: end;
  gap: 10px;
  flex-direction: row;
}
header .header-contacts .right svg:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
header .header-main-part {
  color: var(--color-font);
  background: var(--color-bg);
  height: 68px;
  max-width: 1174px;
  display: flex;
  flex-direction: row;
  padding: 0px 133px;
  gap: 50px;
  align-items: center;
}
header .header-main-part h2 {
  font-family: "Varela Round";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 152.381% */
  margin: 0;
}
header .header-main-part nav {
  width: 1023px;
  display: flex;
  padding: 11px 0px;
  justify-content: space-between;
  align-items: center;
}
header .header-main-part nav ul {
  list-style-type: none;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 0;
}
header .header-main-part nav ul li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
header .header-main-part nav ul li a {
  color: var(--color-font);
  text-decoration: none;
}
header .header-main-part nav .icons-container {
  display: flex;
  padding: 9px 15px;
  align-items: center;
  gap: 9px;
}
header .header-main-part nav .icons-container svg:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
header .header-main-part nav .icons-container select {
  background: var(--color-bg);
  color: var(--color-font);
  font-family: "Varela Round";
  font-weight: bold;
  height: 27px;
  border-radius: 4px;
  transition: height 0.3s ease;
  border: 1px solid;
}

main {
  max-width: 100%;
  height: auto;
}
main .first-section {
  width: 100%;
  height: 475px;
  padding-top: 166px;
  background-image: url(../images/bg-img-1st.png);
}
main .first-section .container {
  color: var(--color-font);
  background-color: var(--color-element);
  padding: 55px 77px;
  margin: auto;
  max-width: 416px;
  height: min-content;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
main .first-section .container p {
  margin: 0;
  color: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
main .first-section .container h1 {
  margin: 0;
  color: var(--color-font);
  text-align: center;
  font-family: "Varela Round";
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 123.077% */
}
main .first-section .container button {
  background-color: var(--color-green);
  border: none;
  border-radius: 24px;
  min-width: 153px;
  height: 48px;
}
main .first-section .container button label {
  color: var(--color-element);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
main .second-section {
  background-color: var(--color-bg);
  width: 100%;
  height: auto;
  padding: 116px 0;
}
main .second-section .container {
  margin: auto;
  max-width: 1170px;
  height: min-content;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
main .second-section .container .stuffed-animals {
  background-color: var(--color-yellow);
  padding: 0 16px;
  width: 538px;
  height: 220px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
main .second-section .container .stuffed-animals div {
  display: flex;
  min-width: 213px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
main .second-section .container .wooden-toys {
  background-color: var(--color-rose);
  padding: 0 16px;
  width: 538px;
  height: 220px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
main .second-section .container .wooden-toys div {
  display: flex;
  min-width: 213px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}
main .second-section .container .toys-animals-text {
  margin: 0;
  color: var(--color-element);
  font-family: "Varela Round";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
}
main .second-section .container .shop-now-btn {
  background-color: var(--color-element);
  color: var(--color-font);
  min-width: 112px;
  height: 40px;
  border: none;
  border-radius: 20px;
}
main .second-section .container .shop-now-btn label {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
}
main .third-and-forth-section {
  background-color: var(--color-bg);
  width: 100%;
  height: 582px;
  padding-top: 10px;
}
main .third-and-forth-section .container {
  background-color: var(--color-bg);
  margin: auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .third-and-forth-section .container .main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .third-and-forth-section .container .main-content .higher-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: auto;
}
main .third-and-forth-section .container .main-content .higher-part .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 36px;
}
main .third-and-forth-section .container .main-content .higher-part .heading h2 {
  margin: 0;
  color: var(--color-font);
  font-family: "Varela Round";
  font-size: 28px;
  font-weight: 400;
  line-height: 36px; /* 128.571% */
}
main .third-and-forth-section .container .main-content .higher-part .heading .see-all-toys {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
main .third-and-forth-section .container .main-content .higher-part .heading .see-all-toys p {
  margin: 0;
  color: var(--color-font);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
main .third-and-forth-section .container .main-content .higher-part .heading .see-all-toys p a {
  text-decoration: none;
  color: var(--color-font);
}
main .third-and-forth-section .container .main-content .higher-part hr {
  width: 1170px;
  height: 2px;
  background-color: var(--color-green);
  border: none;
  margin: 0;
}
main .third-and-forth-section .container .main-content .toys {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: flex-start;
  gap: 30px;
  max-width: 1170px;
  height: 328px;
}
main .third-and-forth-section .container .main-content .toys .toy-card {
  background-color: var(--color-element);
  display: flex;
  padding: 32px 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  width: 182px;
  height: 264px;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
main .third-and-forth-section .container .main-content .toys .toy-card img {
  width: 182px;
  height: 182px;
}
main .third-and-forth-section .container .main-content .toys .toy-card p {
  margin: 0;
  color: var(--color-font);
  text-align: center;
  font-family: "Varela Round";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
main .third-and-forth-section .container .main-content .toys .toy-card button {
  border-radius: 16px;
  background: var(--color-green);
  border: none;
  width: 92px;
  height: 24px;
  color: var(--color-element);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
main .third-and-forth-section .container .arrows {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .third-and-forth-section .container .arrows svg:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(0.9);
}
main .fifth-section {
  background-image: url(../images/bg-img-5th.png);
  width: 100%;
  height: 344px;
  padding-top: 120px;
}
main .fifth-section .container {
  margin: auto;
  max-width: 718px;
  display: flex;
  padding: 0px 41px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
main .fifth-section .container .about-the-shop {
  margin: 0;
  color: var(--color-element);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
main .fifth-section .container .watch-our-story {
  margin: 0;
  color: var(--color-element);
  text-align: center;
  font-family: "Varela Round";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 122.222% */
}
main .fifth-section .container .description {
  margin: 0;
  color: var(--color-element);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
main .fifth-section .container .play-btn {
  background: var(--color-green);
  width: 64px;
  height: 64px;
  border: none;
}
main .sixth-section {
  background: var(--color-bg);
  width: 100%;
  height: 632px;
  padding: 120px 0;
}
main .sixth-section .container {
  margin: auto;
  background: var(--color-bg);
  max-width: 1164px;
  min-height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
}
main .sixth-section .container .heading-and-desc {
  width: 447px;
  min-height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
main .sixth-section .container .heading-and-desc .made-for-webflow {
  margin: 0;
  color: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
main .sixth-section .container .heading-and-desc .simple-ecommerce {
  margin: 0;
  color: var(--color-font);
  text-align: center;
  font-family: "Varela Round";
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 129.032% */
}
main .sixth-section .container .main-part {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 116px;
  max-width: 1164px;
  min-height: 422px;
  flex-wrap: wrap;
}
main .sixth-section .container .main-part .left-col {
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 451px;
  height: 261px;
}
main .sixth-section .container .main-part .left-col .available-for-free {
  margin: 0;
  color: var(--color-font);
  font-family: "Varela Round";
  font-size: 31px;
  font-weight: 400;
  line-height: 40px; /* 129.032% */
}
main .sixth-section .container .main-part .left-col hr {
  width: 70px;
  height: 2px;
  background: var(--color-green);
  margin: 0;
}
main .sixth-section .container .main-part .left-col .paragraph {
  margin: 0;
  color: var(--color-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  max-width: 100%;
  height: auto;
}
main .sixth-section .container .main-part .left-col .get-it-now-btn {
  min-width: 145px;
  height: 48px;
  border: none;
  background: var(--color-green);
  border-radius: 24px;
}
main .sixth-section .container .main-part .left-col .get-it-now-btn #get-it-now {
  color: var(--color-element);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
main .sixth-section .container .main-part img {
  border-radius: 16px;
  width: 567px;
  height: 422px;
}
main .seventh-section {
  background: var(--color-bg);
  width: 100%;
  min-height: 172px;
}
main .seventh-section .container {
  background: var(--color-element);
  margin: auto;
  display: flex;
  max-width: 1150px;
  height: min-content;
  padding: 47px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
main .seventh-section .container .icon-and-subscribe {
  display: flex;
  padding: 7px 0px;
  align-items: center;
  gap: 26px;
  justify-content: space-between;
  width: auto;
  height: auto;
}
main .seventh-section .container .icon-and-subscribe .telegram-btn {
  background: var(--color-green);
  width: 63px;
  height: 63px;
  border: none;
  padding: 0;
}
main .seventh-section .container .icon-and-subscribe .subscribe {
  margin: 0;
  color: var(--color-font);
  font-family: "Varela Round";
  font-size: 23px;
  font-weight: 400;
  line-height: 32px; /* 139.13% */
  width: 399px;
}
main .seventh-section .container .input-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 513px;
  height: auto;
}
main .seventh-section .container .input-block input {
  border-radius: 24px;
  border: 2px solid var(--color-border);
  background: var(--color-bg);
  width: 376px;
  height: 47px;
}
main .seventh-section .container .input-block .green-btn {
  width: 121px;
  height: 47px;
  border-radius: 24px;
  background: var(--color-green);
  border: none;
}
main .eighth-section {
  background: var(--color-bg);
  width: 100%;
  min-height: 172px;
  padding: 120px 0;
}
main .eighth-section .container {
  margin: auto;
  display: flex;
  padding: 0px 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 81px;
}
main .eighth-section .container .first-row {
  display: flex;
  width: 331px;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
main .eighth-section .container .first-row h5 {
  margin: 0;
  color: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px; /* 123.077% */
}
main .eighth-section .container .first-row .we-on-inst {
  margin: 0;
  color: var(--color-font);
  text-align: center;
  font-family: "Varela Round";
  font-size: 31px;
  font-weight: 400;
  line-height: 40px; /* 129.032% */
}
main .eighth-section .container .photos {
  display: flex;
  padding: 0px 14px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .eighth-section .container .photos img {
  width: 172px;
  height: 172px;
}
main .eighth-section .container .see-more-photos-btn {
  border-radius: 24px;
  background: var(--color-green);
  min-width: 173px;
  height: 48px;
  border: none;
}
main .eighth-section .container .see-more-photos-btn label {
  margin: 0;
  color: var(--color-element);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
main footer {
  background: var(--color-green);
  width: 100%;
  height: 209px;
}
main footer .container {
  margin: auto;
  padding: 53px 0 26px 0;
  display: flex;
  width: 1184px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 17px;
}
main footer .container .first-row {
  display: flex;
  min-height: 63px;
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 270px;
  row-gap: 0;
  flex-wrap: wrap;
}
main footer .container .first-row h3 {
  margin: 0;
  color: var(--color-element);
  font-family: "Varela Round";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px; /* 152.381% */
}
main footer .container .first-row .footer-menu {
  display: flex;
  max-width: 386px;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
main footer .container .first-row .footer-menu p {
  margin: 0;
  color: var(--color-element);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
main footer .container .first-row .footer-menu p a {
  text-decoration: none;
  color: var(--color-element);
}
main footer .container .first-row .right {
  display: flex;
  width: auto;
  padding: 5px 14px;
  justify-content: end;
  gap: 10px;
  flex-direction: row;
  height: 20px;
}
main footer .container .first-row .right svg:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
main footer .container .first-row .footer-contacts {
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
  max-width: 735px;
  min-height: 24px;
}
main footer .container .first-row .footer-contacts p {
  margin: 0;
  color: var(--color-element);
  font-size: 13px;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
}
main footer .container .first-row .footer-contacts p a {
  text-decoration: none;
  color: var(--color-element);
}
main footer .container hr {
  width: 1170px;
  height: 1px;
  background: var(--color-element);
  opacity: 0.4;
  border: none;
  margin: 0;
}
main footer .container .second-row {
  width: 100%;
  height: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main footer .container .second-row .created-with {
  margin: 0;
  color: var(--color-element);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}
main footer .container .second-row .other-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
main footer .container .second-row .other-info p {
  margin: 0;
  color: var(--color-element);
  font-size: 11px;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}

/*# sourceMappingURL=index-styles.css.map */
